/* Big tablet to ...: from 840px to 1920px */
@media only screen and (max-width: 1919px) {
	.image {
		grid-column: 1 / 13;
	}
}

/* Small & large tablets: from 600px to 839px */
@media (max-width: 839px) {
	.image {
		grid-column: 1 / 8;
	}
}
/* Small phones: from 0 to 599px */
@media only screen and (max-width: 480px) {
	.image {
		grid-column: 1 / 4;
		width: 100%;
	}
}
