/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}
.image {
	grid-column: 1 / 7;
	grid-row: 3 / 4;
}
.image img {
	width: 90%;
	height: 60%;
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
	.image {
		grid-column: 1 / 13;
	}
	.image img {
		width: 100%;
		height: 100%;
		border: 0.5px solid #fff;
		object-fit: cover;
	}

	.oklubu {
		grid-column: 1 / 13;
		text-align: center;
	}
}

/* Small phones to small tablets: from 481px to 767px */
@media (max-width: 767px) {
	.image {
		grid-column: 1 / 13;
		width: 100% !important;
		margin: 5px 0px 5px 0px;
	}
}
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
}
