@charset "UTF-8";
.l-wrap {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
.twelve-col-grid .grid-item {
	width: 95%;
	float: left;
}

.twelwe-col-grid:after {
	display: table;
	clear: both;
	content: '';
}

/* --- debug grid --- */

.column {
	width: calc((100% - 20px * 12) / 12);
	height: 80px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	background-color: rgb(241, 238, 238);
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
}

#content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto);
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

/*--- HEADER --- */
.header {
	grid-column: 1 / 13;
	padding: 0;
	margin: 0;
	height: 100%;
	justify-content: stretch;
	object-fit: cover;
}

.header h1 {
	font-family: 'Acme', sans-serif;
	font-weight: 800;
	font-weight: bold;
	font-size: 300%;
	color: #9d2933;
	padding-top: 2%;
	margin: 0;
	position: absolute;
}
/*--- NAVBAR --- */
.navbar {
	display: grid;
	grid-column: 1 / 13;
	grid-row: 2 / 3;
	height: 100%;
	color: rgba(10, 10, 10, 0.932);
	font-family: 'Montserrat', sans-serif;
	word-spacing: 4px;
	letter-spacing: 0.5px;
	padding-top: 3%;
}

.links {
	display: grid;
	grid-auto-flow: column;
	font-size: 130%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	margin-left: 8%;
	margin-right: 10%;
}

a {
	color: #574240;
	text-decoration: none;
}

a:hover {
	color: #364869;
}

.image {
	grid-column: 4 /13;
	grid-row: 3 / 8;
}

.image img {
	width: 85%;
	height: 85%;
	object-fit: cover;
	margin-right: -5%;
}

.contact {
	grid-column: 1 / 5;
	grid-row: 3 / 8;
	background-color: #fff;
	margin-bottom: 20%;
	margin-top: -2%;
}

.contact p {
	font-family: 'Acme', sans-serif;
	font-size: 22px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	line-height: 2;
}

.map {
	grid-column: 1 / 13;
	grid-row: 8 / 11;
	object-fit: cover;
}

.kontakt {
	grid-column: 1 / 13;
	grid-row: 11 / 12;
	height: 100%;
	justify-self: stretch;
	align-content: space-evenly;
}

.kontakt p {
	color: #000;
	font-size: 125%;
}

.moto {
	grid-column: 1 / 13;
	grid-row: 12 / 13;
	height: 100%;

	font-family: 'Montserrat', sans-serif;
	font-size: 180%;
	font-weight: bold;
	color: #9d2933;
	text-transform: uppercase;
	grid-auto-flow: column;
	justify-items: stretch;
	margin-bottom: 4%;
	margin-top: -2%;
}

moto p {
	margin: 0;
}

#grid {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100%, auto);
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 0;
	display: none;
}

input:checked + #content #grid {
	display: grid;
}

#grid p {
	font-family: 'Hind regular';
	font-weight: 400;
	font-size: 20px;
	color: #000;
	margin: 0;
	opacity: 0.2;
}

/*Responsiveness*/
* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}
