@charset "UTF-8";
.l-wrap {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
<<<<<<< HEAD
.twelve-col-grid .grid-item {
	width: 95%;
	float: left;
}

.twelwe-col-grid:after {
	display: table;
	clear: both;
	content: '';
}

/* --- debug grid --- */

.column {
	width: calc((100% - 20px * 12) / 12);
	height: 80px;
	margin-right: 10px;
	margin-left: 10px;
	background: rgba(0, 0, 255, 0.25);
	float: left;
}
=======
>>>>>>> master

html,
body {
	background-color: rgba(255, 255, 255, 0.767);
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
}

#content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto);
	max-width: 1140px;
	position: relative;
}

/*--- HEADER --- */
.header {
	grid-column: 2 / 13;
	padding: 0;
	margin: 0;
	height: 100%;
	justify-content: stretch;
	object-fit: cover;
}

.header h1 {
	font-family: 'Acme', sans-serif;
	font-weight: 800;
	font-weight: bold;
	font-size: 220%;
	color: #9d2933;
	padding-top: 2%;
	margin: 0;
	position: absolute;
}

/*--- NAVBAR --- */
.navbar {
	display: grid;
	grid-column: 1 / 13;
	grid-row: 2 / 3;
	height: 100%;
	color: rgba(10, 10, 10, 0.932);
	font-family: 'Montserrat', sans-serif;
	word-spacing: 4px;
	letter-spacing: 0.5px;
	padding-top: 3%;
}

#links {
	display: grid;
	grid-auto-flow: column;
	font-size: 130%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	margin-left: 8%;
	margin-right: 10%;
}

a {
	color: #574240;
	text-decoration: none;
}

a:hover {
	color: #006700;
}
a:current {
	color: #a12700;
}

.article p,
.section p,
.aside p {
	padding: 2% 15% 3% 15%;
	font-size: 20px;
	word-spacing: 2px;
	margin: 0;
	font-family: 'Acme', sans-serif;
	line-height: 2;
}

h4 {
	color: #9d2933;
}
.article {
	grid-column: 2 / 7;
	grid-row: 3 / 6;
	margin-right: 2%;
	background-color: #f0ecdd;
	font-weight: 400;
}
.section {
	grid-column: 7 / 12;
	grid-row: 3 / 6;
	margin-left: 2%;
	background-color: #f0ecdd;
}

.aside {
	grid-column: 4 / 10;
	grid-row: 7 / 10;
	margin-top: -9%;
	background-color: #f0ecdd;
}

.kontakt {
	grid-column: 1 / 13;
	grid-row: 11 / 12;
	height: 100%;
	justify-self: stretch;
	align-content: space-evenly;
	margin-top: -5%;
}

.kontakt p {
	color: #000;
	font-size: 24px;
}

.moto {
	grid-column: 1 / 13;
	grid-row: 12 / 13;
	height: 100%;

	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #9d2933;
	text-transform: uppercase;
	grid-auto-flow: column;
	justify-items: stretch;
	margin-bottom: 1%;
	margin-top: -6%;
}

moto p {
	margin: 0;
}
