@charset "UTF-8";

.wrapper {
	width: 100%;
	color: rgb(241, 238, 238);
}

.header {
	grid-area: header;
}
.navbar {
	grid-area: navbar;
}
.image {
	grid-area: image;
}
.oklubu {
	grid-area: oklubu;
}
.kontakt {
	grid-area: kontakt;
}
.moto {
	grid-area: moto;
}

.wrapper {
	display: grid;
	grid-template-areas: "header" "navbar" "oklubu" "image" "kontakt" "moto";
}
@media only screen and (min-width: 400px) {
	.wrapper {
		grid-template-columns: 100% auto;
		grid-template-areas: "header header header header" "navbar navbar navbar navbar" "image image image oklubu"
			"image image image oklubu" "image image image oklubu" "kontakt kontakt kontakt kontakt"
			"moto moto moto moto";
	}
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* --- debug grid --- split gutters with margins to reduce markup for the debug grid --- */

html,
body {
	background-color: rgb(241, 238, 238);
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
}

/*--- HEADER --- */
.header {
	padding: 0;
	margin: 0;
	height: 100%;
	justify-content: stretch;
	object-fit: cover;
}

.header h1 {
	font-family: 'Acme', sans-serif;
	font-weight: 700;
	font-weight: bold;
	font-size: 300%;
	color: #9d2933;
	padding-top: 2%;
	margin: 0;
	position: absolute;
}

/*--- NAVBAR --- */
.navbar {
	display: grid;
	height: 100%;
	color: rgba(10, 10, 10, 0.932);
	font-family: 'Montserrat', sans-serif;
	word-spacing: 4px;
	letter-spacing: 0.5px;
	padding-top: 3%;
}

.links {
	display: grid;
	grid-auto-flow: column;
	font-size: 130%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	margin-left: 8%;
	margin-right: 10%;
}

a {
	color: #574240;
	text-decoration: none;
}

a:hover {
	color: #364869;
}

.image {
	width: 100%;
	height: auto;
}
.image img {
	margin-left: -30%;
}
.oklubu {
	font-family: 'Montserrat', sans-serif;
	width: 500px;
	height: 800px;
}

.oklubu {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	line-height: 1.8;
	margin-left: -60%;
	width: 400px;
	height: 700px;
}

.kontakt {
	height: 100%;
	text-align: center;
	justify-self: stretch;
	align-content: space-evenly;
}

.kontakt p {
	color: #000;
	padding-top: 3%;
	font-size: 125%;
	text-align: center;
}

.moto {
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 180%;
	font-weight: bold;
	color: #9d2933;
	text-transform: uppercase;
	grid-auto-flow: column;
	justify-items: stretch;

	margin-bottom: 3%;
}
moto p {
	margin: 0;
	text-align: center;
}
