@charset "UTF-8";

html,
body {
	background-color: #2b3c1a;
	color: #fff;
	font-family: 'Hind', sans-serif;
	text-align: center;
	font-size: 18px;
}

#content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}

/*--- HEADER --- */
.header {
	grid-column: 1 / 7;
	padding: 0;
	margin: 0;
	height: 75%;
	background-color: rgb(241, 237, 237);
	border: 0.5px solid #fff;
	color: red;
}

.header p {
	color: red;
	font-family: 'Palanquin Dark';
	font-weight: 700;
	font-size: 32px;
	margin: 0;
	padding-top: 2%;
}

.navbar {
	grid-column: 1 / 13;
	display: grid;
	height: 80%;
	border: 0.5px solid #fff;
	background-color: #2b3c1a;
	color: #fff;
	word-spacing: 4px;
	letter-spacing: 0.5px;
	overflow: hidden;
}

#links {
	display: grid;
	grid-auto-flow: column;
	font-size: 19px;
	text-align: center;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

a {
	color: #e99a24;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #48a8a8;
}

a:active {
	color: #0000ff;
}

.image {
	grid-column: 1 / 10;
	grid-row: 3 / 7;
	padding: 0;
	border: 0.5px solid #fff;
}
.image img {
	width: 100%;
	height: 100%;
}

.oklubu {
	grid-column: 9 / 13;
	grid-row: 3 / 7;
	padding: 0 10px 0 15px;
	background-color: #2b3c1a;
	text-align: right;
	border: 1px solid #fff;
}

.kontakt {
	grid-column: 1 / 13;
	height: 80%;
	margin: 1% 0% 1% 0%;
	justify-self: stretch;
	border: 0.5px solid #fff;
	align-content: space-evenly;
}

.moto {
	grid-column: 1 / 13;
	height: 80%;
	margin: 0;
	align-items: center;
	font-family: 'Palanquin Dark';
	font-size: 23px;
	font-weight: 700;
	color: #ffa318;
	text-transform: uppercase;
	grid-auto-flow: column;
	align-content: space-evenly;
	justify-items: stretch;
}

#grid {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100%, auto);
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 0;
	display: none;
}

input:checked + #content #grid {
	display: grid;
}

#grid p {
	font-family: 'Hind regular';
	font-weight: 400;
	font-size: 20px;
	color: #000;
	margin: 0;
	opacity: 0.2;
}
