@charset "UTF-8";
.l-wrap {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

<<<<<<< HEAD
.twelve-col-grid .grid-item {
	width: 95%;
	float: left;
}

.twelwe-col-grid:after {
	display: table;
	clear: both;
	content: '';
}

/* --- debug grid --- split gutters with margins to reduce markup for the debug grid --- */

.column {
	width: calc((100% - 20px * 12) / 12);
	height: 80px;
	margin-right: 10px;
	margin-left: 10px;
	background: rgba(0, 0, 255, 0.25);
	float: left;
}

=======
>>>>>>> master
html,
body {
	background-color: rgba(255, 255, 255, 0.767);
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
}

#content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto);
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

/*--- HEADER --- */
.header {
	grid-column: 2 / 13;
	padding: 0;
	margin: 0;
	height: 100%;
	justify-content: stretch;
	object-fit: cover;
}

.header h1 {
	font-family: 'Acme', sans-serif;
	font-weight: 800;
	font-weight: bold;
	font-size: 220%;
	color: #9d2933;
	padding-top: 2%;
	margin: 0;
	position: absolute;
}
/*--- NAVBAR --- */
.navbar {
	display: grid;
	grid-column: 1 / 13;
	grid-row: 2 / 3;
	height: 100%;
	color: rgba(10, 10, 10, 0.932);
	font-family: 'Montserrat', sans-serif;
	word-spacing: 4px;
	letter-spacing: 0.5px;
	padding-top: 3%;
}

#links {
	display: grid;
	grid-auto-flow: column;
	font-size: 130%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	margin-left: 8%;
	margin-right: 10%;
}

a {
	color: #574240;
	text-decoration: none;
}

a:hover {
	color: #006700;
}
a:current {
	color: #a12700;
}

.image {
	grid-column: 1 / 12;
	grid-row: 3 / 8;
}
.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.oklubu {
	grid-column: 9 / 13;
	grid-row: 4 / 7;
	font-family: 'Montserrat', sans-serif;
	font-display: swap;
	background-color: #f0ecdd;
	text-align: right;
}

.oklubu p {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-style: normal;
	font-weight: 700;
	padding: 15px 40px 15px 48px;
	line-height: 1.8;
}

.kontakt {
	grid-column: 1 / 13;
	height: 100%;
	justify-self: stretch;
	align-content: space-evenly;
}

.kontakt p {
	color: #000;
	padding-top: 3%;
	font-size: 24px;
}

.moto {
	grid-column: 1 / 13;
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #9d2933;
	text-transform: uppercase;
	grid-auto-flow: column;
	justify-items: stretch;
	margin-bottom: 3%;
}
moto p {
	margin: 0;
}

#grid {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100%, auto);
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 0;
	display: none;
}

input:checked + #content #grid {
	display: grid;
}
